{% load static %}
<style>
     .h{
        background-image:url( "{% static 'images/gray.png' %}" );  
                background-color: rgb(119, 116, 116);
                text-align:center;
    }
    .k{
        position: relative;
        left: 150px;
    }
    .c{
        width:100%;
        text-align:center;
        margin-top:10px;
    }
    .first{
        text-align:center;
        
    }
    .li{
        margin-right:10px;
    }
    #footer{
        padding:40px;
        padding-top:60px;
    }
    #ctdetails{
        margin-bottom:10px;
        padding-bottom:10px;
        border:hidden;

    }
    #copyright {
        width:100%;
        background-color:#333333;
        margin:0px;
        padding-left:50px;
    }
    
  .zzz {
    margin-left: 25%;
  }
  .hj{
    position: relative;
    left:35px;
    height:370px;
    width: 500px;
  }
</style>  
    <div class="bgded overlay row4 h"  >
        <footer id="footer" class="hoc clear "> 
            <figure id="ctdetails">
                <ul class="nospace group k">
                    <li class="one_third first">
                        <div class="clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong>02 279 415 06</span></div>
                    </li>
                    <li class="one_third">
                        <div class="clear"><a href="https://www.mohp.gov.eg/" target="_blank"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong>mohp.gov.egy@gmail.com</span></div>
                    </li> 
                </ul>
            </figure>
            <hr>
            <div class="one_quarter first zzz">
              <h1 class="logoname"><a href="index.html"> Che<span>st</span></a></h1>
              <p>Chest pain doesn't always signal a heart attack. But that's what health care providers in the emergency room
                usually test for first because it's potentially the most immediate threat to your life. They may also check for
                life-threatening lung conditions — such as a collapsed lung or a blood clot in the lung. [<a
                  href="#">&hellip;</a>]</p>
              
            </div>
            <div class="one_quarter">
              <div class="container">
                <div class="rim"></div>
                <div class="outer"></div>
                <div class="inner">
                </div>
                <div id="clock"></div>
              </div>
            </div>
            <div class="one_quarter t">
              <h6 class="heading">REFERENCES</h6>
              <ul class="nospace linklist" id="Ref">
                <li><a href="https://en.wikipedia.org/wiki/Category:Lung_disorders" target="_blank">Lung Disorders</a></li>
                <li><a href="https://www.kaggle.com/datasets/nih-chest-xrays/sample?datasetId=4667&sortBy=voteCount"
                    target="_blank">X-Ray Data set</a></li>
                <li><a href="https://www.healthline.com/health/pneumonia" target="_blank">health Line</a></li>
                <li><a href="https://www.webmd.com/lung/copd/10-faqs-about-living-with-copd" target="_blank">WebMd</a></li>
              </ul>
            </div>
            <div class="one_quarter first c">
                <ul class="faico clear" id="contact">
                    <li><a class="faicon-facebook li" href="https://www.facebook.com/ " target="_blank"> <i class="fab fa-facebook"></i></a></li>
                    <li><a class="faicon-google-plus li" href="https://myaccount.google.com/ " target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a class="faicon-linkedin li" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a class="faicon-twitter li"href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="faicon-vk li" href="https://vk.com/" target="_blank"><i class="fab fa-vk"></i></a></li>
                </ul>
            </div>
        </footer>
        <div id="copyright" class="hoc clear" style="max-width:100%"> 
            <p class="fl_left" >Copyright &copy; 2022 - All Rights Reserved - <a href="#"> FCI </a></p>
        </div>
    </div>  

